.dashboard-container {
  position: relative;
    display: flex;
    height: 100vh;
  }
  .d-navigator-active{
    background-color: rgba(10, 183, 241, 0.2);
    border-right: 4px solid blue;
  }

  
  .d-c-left {
    position: fixed;
    height: 100vh;
    width: 20vw;
    top: 0;
    border-right:1px solid #cecdcd ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .d-c-l-top {
    margin-bottom: 20px;
  }
  
  .d-c-l-top .logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    padding: 1.5rem 0;
    padding-left: 1.5rem;
    border-bottom: .2rem solid rgba(10, 183, 241, 0.2);
  }
  
  .logo span {
    margin-left: 5px;
  }
  
  .d-navigator {
    margin-bottom: 20px;
  }
  
  .d-option {
    display: flex;
    align-items: center;
    padding:.7rem 1rem;
    color: #333;
  }
  .d-option:hover{
    background-color: rgba(10, 183, 241, 0.2);
  }
  .d-option svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .d-c-l-button {
    padding: 3rem 1rem;
    /* Add styles for the buttons inside d-c-l-button */
  }
  .d-c-l-button .link {
    display: block;
    color: #333;
    text-decoration: none;
    margin-bottom: 10px;
  }
  
  .d-c-l-button .link:hover {
    text-decoration: underline;
  }